SOLIDFIRE_CLIENT_ENDPOINT={{ solidfire_exporter_endpoint }}
SOLIDFIRE_CLIENT_INSECURE={{ solidfire_exporter_insecure | lower }}
SOLIDFIRE_CLIENT_USERNAME={{ solidfire_exporter_username }}
SOLIDFIRE_CLIENT_PASSWORD={{ solidfire_exporter_password }}
